
<footer>
        <p>CityKittyCat® by Voytek©. Graphics by <strong><a href="https://dribbble.com/urancd">Uran</a></strong></p>
         <div class="social-icons">
        <a href="#" class="fa fa-facebook-square"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-pinterest"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-youtube"></a>
        
        
        {{!-- <a href="" target="_blank"><i class="fab fa-github-square"></i></a> --}}
      </div>
      
    </footer>
    