<div class="nav">
    <nav class="navbar">  
        <ul>
            <li>
                <a class="navbar-brand" href="#">
                    <img src="/images/icons/icon.png" width="60" height="60" alt="cat logo">
                </a>
            </li>
            <li><a href="/home">Home/About</a></li>
            <li><a href="/cats">Register Your Cat</a></li>
            <li><a href="/cat-list">Cats</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            <li><a href="/profile/logout">Log out</a></li>
        </ul>
        <p>CityKittyCat®</p>
   </nav>
</div>
 
  