<div class="profile-body">
    <div class="profile-container">
        <h1>Welcome back {{ user.username }}. How are you today?</h1>
        <h2>Email: {{ user.email }}</h2>
        <h3>Did you register your cat?   <a href="/cats">Register your cat</a></h3>
        <button type="submit" class="btn btn-primary mb-2"><a href="/profile/logout">Log out</a></button>
        
         
    </div>
</div>
<div class="gif">
             <img src="/images/gifs/halloweeen_cat.gif" class="mw-100 h-100 d-inline-block" alt="">
         </div> 